<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Show</title>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    {% load static %}		<!-- added this line -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <style type="text/css">
    </style>
  </head>
    <!-- ----------------------------------------------------------------------------------------------------------- -->
    <nav>
        <ul class="nav nav-pills">

        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Welcome {{request.session.user_logged_in.first_name}}</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/trips">Home</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/users/logout">Logout</a>
        </li>
        </ul>
    </nav>
    <!-- ----------------------------------------------------------------------------------------------------------- -->
  <body>

    <h3><b>ID: </b> {{trip.id}}</h3>
    <h3><b>Destination: </b> {{trip.dest}}</h3>
    <h3><b>Start-Date: </b> {{trip.start_date}}</h3>
    <h3><b>End-Date: </b> {{trip.end_date}}</h3>
    <h3><b>Plan: </b> {{trip.plan}}</h3>

    <a href="/trips/{{trip.id}}/edit">Edit</a>
    <a href="/trips/{{trip.id}}/delete">Delete</a>

  </body>
</html>